<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">管理界面</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">用户管理</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="index.html#/role">角色管理</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="index.html#/resource">资源管理</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html#/promotion">优惠管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html#/logIn" ng-hide="logIn">登录</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-hide="logOut">
                <li> <a>Hello, {{Admin.name}} </a></li>
                <li><a ng-click="log_out()">退出登录</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="form-group input-group ">
        <button type="button" class="btn btn-primary btn " ng-click="go_to_create_promotion()">添加优惠</button>
        <button type="button" class="btn btn-default btn "  ng-click="delete_all_selected_promotions()">批量删除</button>
    </div>
    <div class="form-group input-group ">
        <input type="search" class="form-control" />
        <span class="input-group-btn ">
            <button class="btn btn-default" type="button" >Search</button>
        </span>
    </div>
</div>

<div class="container">

    <table id="promotion-table" class="table table-bordered">
        <thead>
        <tr>
            <th><input type="checkbox" ng-model="selectedAll" ng-change="select_all_or_select_none()"/></th>
            <th>ID</th>
            <th>优惠类型</th>
            <th>优惠条件</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr class="promotion_line" ng-repeat="promotion in promotions">
            <td><input type="checkbox" ng-model="promotion.selected"/></td>
            <td> {{promotion.id}}</td>
            <td> {{promotion.type}} </td>
            <td> {{promotion.expression}} </td>
            <td>
                <button class="btn" ng-click="deletepromotion(promotion.id)">删除 </button>
            </td>
        </tr>
        </tbody>
    </table>

    <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</div>